/*
 * Base structure
 */
/* Move down content because we have a fixed navbar that is 50px tall */
body {
	padding-top: 50px;
}
/*
 * Global add-ons
 */
.sub-header {
	padding-bottom: 10px;
	border-bottom: 1px solid #eee;
}
/*
 * Sidebar
 */
/* Hide for mobile, show later */
.sidebar {
	display: none;
}
@media (min-width: 768px) {
	.sidebar {
		position: fixed;
		top: 51px;
		bottom: 0;
		left: 0;
		z-index: 1000;
		display: block;
		padding: 20px;
		overflow-x: hidden;
		overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
		background-color: #f5f5f5;
		border-right: 1px solid #eee;
	}
}
/* Sidebar navigation */
.nav-sidebar {
	margin-right: -21px; /* 20px padding + 1px border */
	margin-bottom: 20px;
	margin-left: -20px;
}
.nav-sidebar > li > a {
	padding-right: 20px;
	padding-left: 20px;
}
.nav-sidebar > .active > a {
	color: #fff;
	background-color: #428bca;
}
/*
 * Main content
 */
.main {
	padding: 20px;
}
@media (min-width: 768px) {
	.main {
		padding-right: 40px;
		padding-left: 40px;
	}
}
.main .page-header {
	margin-top: 0;
}
/*
 * Placeholder dashboard ideas
 */
.placeholders {
	margin-bottom: 30px;
	text-align: center;
}
.placeholders h4 {
	margin-bottom: 0;
}
.placeholder {
	margin-bottom: 20px;
}
.placeholder img {
	display: inline-block;
	border-radius: 50%;
} 

.cms-file-delete {
    cursor: pointer;
    color:firebrick;
}


/* The "go to top" and "go to bottom" links. */
#toplink, #botlink {
	position: fixed;
	right: 5%;
	bottom: 5%;
	padding: 11px 9px 11px 11px;
	margin: 0 -20px 0 0;
	color: #666;
	font-size: 1.5em;
	background: #f0f0f0 url(images/Standard/catbg.gif) 0 5px repeat-x;
	border: 1px solid #b4b4b4;
	border-bottom: 1px solid #b8b8b8;
	border-radius: 6px 3px 0 0;
	z-index: 99;
	box-shadow: 1px 2px 3px rgba(0,0,0,0.25);
}
#botlink {
	top: 50%;
	padding: 10px 9px 11px 11px;
	bottom: auto;
	border: 1px solid #b4b4b4;
	border-top: 1px solid #ddd;
	border-radius: 0 0 3px 6px;
}
#toplink:hover, #botlink:hover {
	color: #a52311;
	background: #fcfcfc;
	text-decoration: none;
}